body {
   background: linear-gradient(to top, #ffffff 0%, #666699 100%);
  margin: 100 px;
  font-size: 100px;
}
h1{text-align: center;
 margin-top: 100px;
  margin-bottom: 100px;
margin-right: 100px;
margin-left: 100px;
font-family: 'Oswald', sans-serif;}
ul{text-align: center;
font-family: 'Varela Round', sans-serif;
}
